<!DOCTYPE html>
<html>
    
    <head>
    {% load static %}
    <title>{% block title %}{% endblock %}</title>

    {% include 'header_links.html' %}



</head>

<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark text-white"
        style="position: fixed; top: 0; padding-left: 50px; width: 100%; z-index: 20;">
        <div class="navbar-nav">
            <a class="nav-link nav-item text-white topitems" href="{% url 'home' %}">Home</a>
            <a class="nav-link nav-item text-white topitems" href="{% url 'registration' %}">Registration</a>
            <a class="nav-link nav-item text-white topitems" href="{% url 'participants' %}">Participants</a>
        </div>
    </nav>

    <div class="mt-5 pt-5">
        <center>
            <p>
                <img src="{% static 'logo1.png' %}" alt="Image 1"
                    style="display: inline; vertical-align: middle; width:150px">
                <bold><span class="mx-5"
                        style="display: inline-block; vertical-align: middle;font-size: xxx-large;">পিরোজপুর চুরাশিয়ান
                        মিলনমেলা ২০২৩</span></bold>
                <img src="{% static 'logo2.png' %}" alt="Image 2"
                    style="display: inline; vertical-align: middle; width:150px">
            </p>
        </center>
    </div>


<!-- Countdown Timer as Digital Clock -->
<center><div class="countdown clock ">
    <div class="countdown-item">
        <span class="countdown-number" id="days">00</span>
        <span class="countdown-label">Days</span>
    </div>
    <div class="countdown-item">
        <span class="countdown-number" id="hours">00</span>
        <span class="countdown-label">Hours</span>
    </div>
    <div class="countdown-item">
        <span class="countdown-number" id="minutes">00</span>
        <span class="countdown-label">Minutes</span>
    </div>
    <div class="countdown-item">
        <span class="countdown-number" id="seconds">00</span>
        <span class="countdown-label">Seconds</span>
    </div>
</div></center>







    {% block content %}{% endblock %}


    <footer class="navbar navbar-expand navbar-dark bg-dark fixed-bottom">
        <div class="navbar-nav mx-auto justify-content-between w-100 px-3" style="display:flex; align-items:center; justify-content:center;">
            <div class="nav-item nav-link text-white mx-3 py-0  my-0 footer-text">All rights reserved by Pirojpur Churashiyan</div>
            <div class="nav-item nav-link text-white mx-3 py-0 my-0 footer-text">
                <p>Developed by injamam00155</p>
                <p>email: injamam00155 ¤ contact: 01319315405</p>
            </div>
        </div>
    </footer>
    


    {% include 'end_scripts.html' %}



</body>

</html>