{% load static %} 
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="navbar-nav">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
            <a class="nav-link" href="{% url 'registration' %}">Registration</a>
            <a class="nav-link" href="{% url 'participants' %}">Participants</a>
        </div>
    </nav>
    <center><p>
        <img src="{% static 'logo1.png' %}" alt="Image 1" style="display: inline; vertical-align: middle; width:150px">
        <bold><span class="mx-5" style="display: inline-block; vertical-align: middle;font-size: xxx-large;">পিরোজপুরের চুরাশিয়ান মিলনমেলায় ২০২৩</span></bold>
        <img src="{% static 'logo2.png' %}" alt="Image 2" style="display: inline; vertical-align: middle; width:150px">
    </p></center>

        {% block content %}{% endblock %}
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function copyToClipboard(phoneNumber) {
            const textarea = document.createElement('textarea');
            textarea.value = phoneNumber;
            document.body.appendChild(textarea);
            textarea.select();
            document.execCommand('copy');
            document.body.removeChild(textarea);
            alert('Copied to clipboard: ' + phoneNumber);
        }
    </script>
    <script>
        // Activate the carousel and set interval for automatic slide change
        $(document).ready(function () {
            $("#slideshow").carousel({ interval: 3000 });
        });
    </script>
</body>
</html>
