{% load static %}

<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/jquery-3.6.0.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script>
    function updateContainerClass() {
        const containerElement = document.getElementById('custom-container');
        const isMobile = window.innerWidth <= 767; // Set the breakpoint for mobile devices (adjust as needed)

        if (isMobile) {
            containerElement.classList.remove('container');
            containerElement.classList.add('container-fluid');
        } else {
            containerElement.classList.remove('container-fluid');
            containerElement.classList.add('container');
        }
    }

    // Call the function on page load and when the window is resized
    window.addEventListener('load', updateContainerClass);
    window.addEventListener('resize', updateContainerClass);
</script>
<script>
        $(document).ready(function() {
            $('#result_list').DataTable({
            "stripeClasses": ["custom-even", "custom-odd"],
            "searching": true,
            "dom": '<"top d-flex justify-content-between align-items-center"lf>rt<"bottom d-flex justify-content-between align-items-center"ip><"clear">',
            "language": {
                "lengthMenu": "_MENU_ entries per page",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "search": "",
                "searchPlaceholder": "Search...",
                "paginate": {
                    "previous": "Previous",
                    "next": "Next"
                }
            }
        }
        );
    });
</script>
<script>
    // Activate the carousel and set interval for automatic slide change
    $(document).ready(function () {
        $("#slideshow").carousel({ interval: 3000 });
    });
</script>
<script>
        $(document).ready(function() {
            $('#participants-table').DataTable(
        {
            "stripeClasses": ["custom-even", "custom-odd"],
            "searching": true,
            "dom": '<"top d-flex justify-content-between align-items-center"lf>rt<"bottom d-flex justify-content-between align-items-center"ip><"clear">',
            "language": {
                "lengthMenu": "_MENU_ entries per page",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "search": "",
                "searchPlaceholder": "Search...",
                "paginate": {
                    "previous": "Previous",
                    "next": "Next"
                }
            }
        }
        );
    });
    </script>
<script>
    // Function to display selected participant image
    function showParticipantImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $('#participant-image-preview').attr('src', e.target.result);
                $('#participant-image-preview').css('display', 'block');

                // Show the name of the selected image
                $('#participant-image-name').text(input.files[0].name);
                $('#participant-image-name').css('display', 'block');
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    // Bind the showParticipantImage function to the participant image input change event
    $('#{{ form.participant_image.id_for_label }}').on('change', function() {
        showParticipantImage(this);
    });
</script>
<script>
    // Function to display selected spouse image
    function showSpouseImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $('#spouse-image-preview').attr('src', e.target.result);
                $('#spouse-image-preview').css('display', 'block');

                // Show the name of the selected image
                $('#spouse-image-name').text(input.files[0].name);
                $('#spouse-image-name').css('display', 'block');
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    // Bind the showSpouseImage function to the spouse image input change event
    $('#{{ form.spouse_image.id_for_label }}').on('change', function() {
        showSpouseImage(this);
    });
</script>


    