{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <!-- Add event details here -->
    <div class="container">
        <h1 class="mt-5 text-center bg-primary text-white p-2">Event Information</h1>
        <div class="p-3 rounded mt-4 mb-3" style="background-color: rgba(0, 123, 255, 0.15);">
            
            স্মৃতি সবসময় মিষ্টি হয়। আমাদের স্কুল জীবনের স্মৃতিগুলি হল তেমন মিষ্টি এক  ভালোলাগা। আমরা আমাদের সকলেই বাল্যকালের মধুর  স্মৃতিগুলি  মনের গহিনে লালন করে রেখেছি। সেই মুধুর স্মৃতিভরা আনন্দের বাক্সটা ডি সি পার্ক, পিরোজপুরে খোলা হবে।সেই আনন্দের মিলনমেলায় তোমাদেরকে  আন্তরিকভাবে আমন্ত্রন করছি।
            ঢাকা থেকে লাক্সারীয়াস লঞ্চযোগে আমরা পিরোজপুরে যাবো। আশা করছি আশা-যাওয়ার নৌ ভ্রমনটা তোমাদের ভালো লাগার এক অনন্য স্মৃতি হয়ে থাকবে অনেক দিন।
             ধন্যবাদ 
            পিরোজপুর চৌরাশিয়ান পরিবার।
            
            পিরোজপুরে সারা বাংলাদেশের SSC 1984 Bangladesh গ্রুপের  চুরাশিয়ান বন্ধুদের নিয়ে শহরের পশ্চিম পার্শ্বের বলেশ্বর নদীর তীরে ডি,সি পার্কের প্রাকৃতিক সৌন্দর্য্যমন্ডিত পরিবেশে একটি মিলন মেলার আয়োজন  করতে চলেছি। নানারকমের  মনোমুগ্ধকর আয়োজনের মধ্য দিয়ে  একটা সুন্দর প্রাণবন্ত অনুষ্ঠান করার প্রত্যয় ব্যক্ত করছি। আশাকরি ভালোলাগা, মুগ্ধতায়,আনুস্ঠানিকতায় তোমাদের প্রাণ ছুঁয়ে যাবে। বন্ধুরা, তোমাদের স্বতঃস্ফূর্ত অংশগ্রহণ আমাদের এই  আয়োজনকে পূর্ণতা দেবে। এসএসসি ১৯৮৪ বাংলাদেশ  চুরাশিয়ান বন্ধুদের স্পাউজ সহ অংশগ্রহণের আহ্বান করছি।
            <h1>স্বাগত বন্ধুরা পিরোজপুরের চুরাশিয়ান মিলনমেলায়।</h1>
            <div>
                <p>আয়োজনের স্থান পিরোজপুরের ডি সি পার্ক একটি চমৎকার ভ্যানু। আমরা বরিশাল বিভাগের সকল চুরাশিয়ান বন্ধুরা মিলে সারা বাংলাদেশের চুরাশিয়ান বন্ধু ও তাদের স্পাউজ কে অভ্যর্থনা জানানোর জন্য অপেক্ষমান। আমাদের উষ্ণ  শুভেচ্ছা গ্রহন করো বন্ধুরা।</p>
            </div>
        
            <div>
                <h2>Sweet Memories</h2>
                <p>School life memories are always delightful. The sweet memories of our childhood resonate in the depths of our hearts. We will relish those sweet memories together at DC Park, Pirojpur. Let this reunion be a joyous occasion for all of you.</p>
            </div>
        
            <div>
                <h2>Travel Information</h2>
                <p>We will travel from Dhaka to Pirojpur by luxurious launch. We hope the journey on the river will leave you with some wonderful memories to cherish for a long time.</p>
            </div>
        
            <div>
                <h2>Thank You</h2>
                <p>Thank you to all the members of the Pirojpur Churashian family for organizing this event.</p>
            </div>
        
            <div>
                <h2>Reunion Details</h2>
                <p>We, the SSC 1984 Bangladesh group of Churashian friends, have arranged a charming event on the banks of the Baleshwar River at DC Park, Pirojpur. We express our certainty in organizing a beautiful and lively gathering. We hope that you will enjoy this formal and enchanting event. Friends, your enthusiastic participation will make our event complete. We cordially invite you along with your spouses to join us.</p>
            </div>
        </div>
        <div class="p-3 rounded mt-4 mb-3" style="background-color: rgba(0, 123, 255, 0.15);">
            <h2>Organiser Information</h2>
            <p class="lead">আহ্বায়ক: আমিরুল ইসলাম মিরন</p>
            <p class="lead">সহ আহ্বায়ক: জিয়া হায়দার মিঠু</p>
            <p class="lead">সাধারন সম্পাদক: জাকির হোসেন</p>
            <h3>সমন্বয়ক</h3>
            <ul>
                <li class="lead">১. লায়ন মিজানুর রহমান</li>
                <li class="lead">২. মাহবুবুল হক মাহবুব</li>
            </ul>
        </div>

        <div class="p-3 rounded mt-4 mb-3" style="background-color: rgba(0, 123, 255, 0.15);">
            <h2>এই নাম্বার গুলেতে রেজিস্ট্রেশন এর জন্য বিকাশ করুন</h2>
            <ol>
                <li class="lead">আমিরুল ইসলাম মিরন - বিকাশ: 01716-953986</li>
                <li class="lead">জাকির হোসেন - বিকাশ: 01988-691379</li>
                <li class="lead">লায়ন মিজানুর রহমান - বিকাশ: 01711-530423</li>
                <li class="lead">বজলুর রহমান - বিকাশ: 01678-054214</li>
                <li class="lead">মাহবুবুল হক (মাহবুব) - বিকাশ: 01762-085059</li>
            </ol>
        </div>

        <div class="p-3 rounded mt-4 mb-3" style="background-color: rgba(0, 123, 255, 0.15);">
            <h2>জরুরী প্রয়োজনে যোগাযোগ করুন</h2>
            <ul>
                <li class="lead">মিরন: 01716-953986</li>
                <li class="lead">জাকির: 01988-691379</li>
                <li class="lead">মিজান: 01711-530423</li>
                <li class="lead">বজলু: 01678-054214</li>
                <li class="lead">মাহবুব: 01762-085059</li>
            </ul>
        </div>
        
        <div class="p-3 rounded mt-4 mb-3" style="background-color: rgba(0, 123, 255, 0.15);">
            <h2>রেজিস্ট্রশেন এর নিয়ম</h2>
            <ol>
                <li class="lead">প্রথমে উল্লিখিত নাম্বার পাচটির যে কেন একটি নাম্বারে বিকাশ করুন।</li>
                <li class="lead">ট্রানজেকশন আই ডি টি কপি করুন।</li>
                <li class="lead">রেজিস্ট্রেশন ফর্ম এর ট্রানজেকশন আই ডি লেখার নির্দস্ত ঘরে পেস্ট করুন।</li>
                <li class="lead">বিকাশ ট্রানজেকশন আইডি টি কপি করতে সমস্যা হলে কোডটি হাতে লিখে দিলেও হবে।</li>
                <li class="lead">যে নাম্বারে বিকাশ করেছেন সেই নাম্বারটি ফর্মের নির্দস্ত ঘরে অবশ্যই লিখে দিতে হবে।</li>
                <li class="lead">ফর্ম পুরন করে সাবমিট করার পরে বিকাশ ট্রানজেকশন আইডি টি যাকে বিকাশ করেছেন তাকে মেসেজ করে জানিয়ে দিন।</li>
            </ol>
        </div>
        <div class="p-3 rounded mt-4 mb-3" style="background-color: rgba(0, 123, 255, 0.15);">
            <h2>রেজিস্ট্রশেন এর শেষ তারিখ</h2>
            <p class="lead">১৫ ই সেপ্টেম্বর'২০২৩</p>
        </div>

    </div>
{% endblock %}


