<!-- templates/your_template.html -->

{% extends 'base.html' %}

{% block content %}
<div class="cards-wrapper">
    <!-- Participant ID -->
    <div class="card-container">
        <div class="svg-container m-3">
            {% include 'id_participant.html' %}
            <!-- SVG content for the participant's ID card -->
        </div>
        <div class="button-container m-3">
            <a class="btn btn-primary" href="{% url 'get_id_card' id_number=participant.id_number id_type='own' %}">Get Own ID Card</a>
        </div>
    </div>

    <!-- Spouse ID -->
    {% if participant.spouse_coming=='Yes' %}
    <div class="card-container">
        <div class="svg-container m-3">
            {% include 'id_spouse.html' %}
            <!-- SVG content for the spouse's ID card -->
        </div>
        <div class="button-container m-3">
            <a class="btn btn-primary" href="{% url 'get_id_card' id_number=participant.id_number id_type='spouse' %}">Get Spouse ID Card</a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
