{% extends 'base.html' %}

{% block title %}Participants{% endblock %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <script>
        setTimeout(function() {
            var alert = document.querySelector('.alert');
            alert.style.display = 'none';
        }, 5000);
    </script>
{% endif %}

<table class="table">
    <thead>
        <tr>
            <th>ID Number</th>
            <th>Participant Picture</th>
            <th>Name</th>
            <th>Spouse Picture</th>
            <th>Spouse Name</th>
            <th>District</th>
            <th>Contact Number</th>
            <th>Email</th>
            <th>Profession</th>
            <th>Gender</th>
            <th>Blood Group</th>
            <th>Driver Coming</th>
            <th>Transaction Verification</th>
            <th>View ID</th>
        </tr>
    </thead>
    <tbody>
        {% for participant in participants %}
        <tr>
            <td>{{ participant.id_number }}</td>
            <td>
                <div class="image-container">
                    <img src="{{ participant.participant_image.url }}" alt="Participant Picture">
                </div>
            </td>
            <td>{{ participant.name }}</td>
            <td>
                {% if participant.spouse_image %}
                <div class="image-container">
                    <img src="{{ participant.spouse_image.url }}" alt="Spouse Picture">
                </div>
                {% else %}
                No Image Uploaded
                {% endif %}
            </td>
            <td>{{ participant.spouse_name }}</td>
            <td>{{ participant.district }}</td>
            <td>{{ participant.contact_number }}</td>
            <td>{{ participant.email }}</td>
            <td>{{ participant.profession }}</td>
            <td>{{ participant.gender }}</td>
            <td>{{ participant.blood_group }}</td>
            <td>{{ participant.driver_coming }}</td>
            <td>
                {% if participant.is_verified %}
                    <span class="badge badge-success">Verified</span>
                {% else %}
                    <span class="badge badge-danger">Not Verified</span>
                {% endif %}
            </td>
            <td>
            {% if participant.is_verified %}
            <a href="{% url 'view_id_card' participant.id_number %}" class="btn btn-primary">View ID Card</a>
            {% else %}
            <a href="{% url 'view_id_card' participant.id_number %}" class="btn btn-primary">View ID Card</a>
            Not Yet Verified
            {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
