{% extends 'base.html' %}
{% load static %}

{% block title %}Participants{% endblock %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <script>
        setTimeout(function() {
            var alert = document.querySelector('.alert');
            alert.style.display = 'none';
        }, 5000);
    </script>
{% endif %}

<center>
    <button class="btn btn-secondary btn-sm" onclick="toggleDetails()">
        Show Details
    </button>
</center>

<div class="m-4">
    <div >Total Participants: {{ total_participants }}</div>
    <div>Total Spouses : {{ total_spouses_coming }}</div>
    <div>Total Coming: {{ total }}</div>
</div>

<table id="participants-table" class="table m-4">
    <thead>
        <tr>
            <th>ID Number</th>
            <th>Participant Picture</th>
            <th>Name</th>
            <th>Spouse Picture</th>
            <th>Spouse Name</th>
            <th>Spouse Coming</th>
            <th>District</th>
            <th>Contact Number</th>
            <!-- Initially hidden headers -->
            <th class="hidden-cell" style="display: none;">School Name</th>
            <th class="hidden-cell" style="display: none;">Email</th>
            <th class="hidden-cell" style="display: none;">Profession</th>
            <th class="hidden-cell" style="display: none;">Gender</th>
            <th class="hidden-cell" style="display: none;">Blood Group</th>
            <th class="hidden-cell" style="display: none;">Transport</th>
            <th class="hidden-cell" style="display: none;">Driver Coming</th>
            <th>Transaction Verification</th>
            <th>View ID</th>
        </tr>
    </thead>
    <tbody>
        {% for participant in participants %}
        <tr>
            <!-- Display initially visible fields -->
            <td>{{ participant.id_number }}</td>
            <td>
                {% if participant.participant_image %}
                <div class="image-container">
                    <img src="{{ participant.participant_image.url }}" alt="Participant Picture">
                </div>
                {% else %}
                <div class="image-container">
                    <img src="{% static 'unknown.jpg' %}" alt="Spouse Picture">
                </div>
                {% endif %}
            </td>
            <td>{{ participant.name }}</td>
            <td>
                {% if participant.spouse_image %}
                <div class="image-container">
                    <img src="{{ participant.spouse_image.url }}" alt="Spouse Picture">
                </div>
                {% else %}
                <div class="image-container">
                    <img src="{% static 'unknown.jpg' %}" alt="Spouse Picture">
                </div>
                {% endif %}
            </td>
            <td>{{ participant.spouse_name }}</td>
            <td>{{ participant.spouse_coming }}</td>
            <td>{{ participant.district }}</td>
            <td>{{ participant.contact_number }}</td>
            <!-- Initially hidden fields -->
            <td class="hidden-cell" style="display: none;">{{ participant.school_name }}</td>
            <td class="hidden-cell" style="display: none;">{{ participant.email }}</td>
            <td class="hidden-cell" style="display: none;">{{ participant.profession }}</td>
            <td class="hidden-cell" style="display: none;">{{ participant.gender }}</td>
            <td class="hidden-cell" style="display: none;">{{ participant.blood_group }}</td>
            <td class="hidden-cell" style="display: none;">{{ participant.transport }}</td>
            <td class="hidden-cell" style="display: none;">{{ participant.driver_coming }}</td>
            <td >
                {% if participant.is_verified %}
                    <span class="badge badge-success">Verified</span>
                {% else %}
                    <span class="badge badge-danger">Not Verified</span>
                {% endif %}
            </td>
            <td>
                {% if participant.is_verified %}
                    <a href="{% url 'view_id_card' participant.id_number %}" class="btn btn-primary">View ID Card</a>
                {% else %}
                    Not Yet Verified
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br><br><br><br><br><br><br><br><br>

<script>
    function toggleDetails() {
        var hiddenCells = document.querySelectorAll('.hidden-cell');
        var showButton = hiddenCells[0].style.display === 'table-cell';
        var buttonText = showButton ? 'Show Details' : 'Hide Details';
        

        hiddenCells.forEach(function(cell) {
            cell.style.display = showButton ? 'none' : 'table-cell';
        });

        var toggleButton = document.querySelector('.btn-secondary');
        toggleButton.innerText = buttonText;
    }

</script>
{% endblock %}