<div class=" rounded mt-4 mb-5" style="background-color: rgba(0, 123, 255, 0.15);">
    <h1 class="mt-5 text-center bg-primary text-white p-2">Payment Information</h1>
    <div class="p-4">
        <h2>এই নাম্বার গুলেতে রেজিস্ট্রেশন এর জন্য বিকাশ করুন</h2>
        <br>
        <hr>
        <ol>
            <li class="lead">লায়ন মিজানুর রহমান - বিকাশ: 01711-530423</li>
            <hr>
            <li class="lead">মাহবুবুল হক (মাহবুব) - বিকাশ: 01762-085059</li>
            <hr>
        </ol>
    </div>
    <br>
</div>